@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
 
 @font-face {
    font-family: TypoPRO Bebas Neue;
    src: url(TypoPRO-BebasNeue-Light/TypoPRO-BebasNeue-Light.ttf);
} 

body{
    font-family: 'Lato', sans-serif;
}
#navigation{
    background-image: url("images/background.svg");
    background-size: cover;
    position: sticky;
    top:0;
}
#nav1{
    transition: background-color 0.6s;
    margin: 0px;
}
.nav1{
    display: flex;
    flex: 50%;
    justify-content: flex-start;
    background-color: transparent;
    padding-top: 0px;
    padding-bottom: 0px;
    box-shadow: "0px 0px 0px";
}
.nav2{
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    align-items: stretch;
    font-family: 'TypoPRO Bebas Neue';
    font-size: 15px;
    font-weight: bolder;
    color: #263146;
}
.dropdown{
    display: none;
    visibility: hidden;
    position: fixed;
}
.nav{
    visibility: visible;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: stretch;
    font-family: 'TypoPRO Bebas Neue';
    font-size: 15px;
    font-weight: bolder;
    color: #263146
}
a.a1:link, a.a1:visited{
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}
a.a1:hover{
    color: rgba(38, 49, 70, 0.93);
    text-decoration: none;
}

a.a2:link, a.a2:visited{
    background-color: #ebebeb;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}
a.a3:link, a.a3:visited{
    background-color: white;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}
a.a2:hover{
    background-color: #f8d16c;
    text-decoration: none;
}

.homeContainer{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0px;
}

.homeProject{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
 
#projectList{
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 50px; 
}

.itemList1{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2;
    margin-bottom: 5px;
    width:50%;
}

.itemList2{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2;
    width: 50%;
}
.title{
    color:  #000000;
    font-family: 'Playfair Display';
    font-size: 20px;
    
}
.item{                
    font-size: 14px;
    padding-right:50px;
    padding-left: 50px;
    padding-top: 30px;
    width: 25%;
    text-align: right;
}
.p1{
    flex-grow: 2;
}
.p2{
    flex-grow: 2;
}

.p3{
    flex-grow: 2;
}

.p4{
    flex-grow: 2;
}
.number{
    text-align : left;
    font-size: 15em;
    margin-bottom:-200px;
    padding-right: 170px;
    font-family: 'TypoPRO Bebas Neue';
    color: rgba(248, 209, 108, 0.5);
}
.projectDescription{
    font-size: 14px;
    color:#999999;
    font-style: italic;
    line-height: 1em;
    margin-top: 0.5em;
    font-style: italic;
}

.homeBlog{
    background-color: #ebebeb;
    margin-bottom: 0px;
}
.homeBlog2{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ebebeb;
    margin-top: 0px;
}
.homeBlog3{
    padding-bottom: 30px;
    background-color: #ebebeb;
}
.homeprojectlink{
    margin-top: 50px;
    padding-bottom: 30px;
    background-color: white;
}

.blogDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    line-height: 20px;
}

.footer{
    display: flex;
    align-items: center;
    background-color: #263146;
    font-size: 14px;
    margin: 0px;
    padding-left: 80px;
    color: white;
}

.box1{
    display: flex;
    align-content: center;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    order: 1;
}

.box2{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    order: 2;
}

.heading1{
    flex: 50%;
    color: #f8d16c;
    font-family: 'Playfair Display';
    font-size: 4.3em;
    display: inline;
    margin-left: 50px;
    margin-top: 0px;
    margin-bottom: 35px;
    padding-bottom: 0px;
    padding-top: 0px;
    order: 1;
    max-width: 100%;
}
#head1, #head2{
    min-height: 1rem;
    font-weight: 500;
}
#play{
    background-image: linear-gradient( to right, rgba(122, 117, 117, 0.2) 0%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%, transparent 100%, transparent 100% );
}
#with{
    background-image: linear-gradient( to right, rgba(122, 117, 117, 0.2) 0%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 45%, transparent 45%, transparent 45% );
}
#idea{
    background-image: linear-gradient( to right, rgba(122, 117, 117, 0.2) 0%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 57%, transparent 57%, transparent 57% );
}
.para{
    flex: 50%;
    order: 2;
    color: white;
    font-size: 23px;
    margin-left: 50px;
    margin-top: 1em;
    line-height: 2;    
    padding-top: 0px;
    padding-right: 1.2em;
    font-family: 'Lato', sans-serif;
    width: 100%;
}

.image{
    align-self: flex-start;
    order: 1;
    width: 70%;
    padding-top: -15px;
}

.heading2{
    flex: 50%;
    order: 1;
    font-family: 'Playfair Display';
    line-height: 1.5;
    display: inline-block;
    color: #3b3736;
    font-size: 35px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 0.2em #f8d16c solid;
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-bottom: 0.3em;
    margin: 0.5em 0 0.5em 0;
}
.img{
    flex: 50%;
    order: 2;
    width: 300px;
}

.img2{
    flex: 50%;
    align-self: flex-start;
    margin-left: 60px;
    margin-bottom: 50px;
    padding-top: 40px;
    padding-left: 50px;
    width: 300px;
}

.blogPara{
    flex: 50%;
    font-size: 16px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    padding-bottom: 20px;
}

.Link{
    align-self: center;
    border: 2px solid black;
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    font-size: 20px;    
    font-family: 'TypoPRO Bebas Neue';
    font-weight: 900;
}

.homeAbout{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #293b52;
    padding-bottom: 10px;
    text-align: left;
    
}

.about{
    order: 1;
    padding-right: 0px;
    padding-left: 60px;
    display: inline-block;
    margin-right: 40px;
}
.contact{
    order: 2;
    margin-left: 40px;
    padding-left: 40px;
    padding-bottom: 20px;
    display: inline-block;
}

#h4{
    font-size: 1.5rem;
    line-height: 2;
    font-family: "TypoPRO Bebas Neue";
    color: #fff;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 28px
}
#p{
    color: #ddd;
    font-size: 14px;
    line-height: 1.7;
    max-width: 560px;
    margin: 0px;

}
#p1{
    color:#f8d16c;
}
#p2{
    /* position:static; */
    left:2px;
}
#logo{
    height: 50px;
    padding-top: 5px;
    padding-left: 75px;
}

.projecList{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.items{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}


.blog1{
    display: flex;
    justify-content: space-evenly;
    align-items: space-between;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-left:50px;
    margin-right:50px;
}
.background1{
    display: block;
    width: 100%;
    height: 200px;
    background-image: url("images/1.jpeg");
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
 
}
.background2{
    display: block;
    width: 100%;
    height: 200px;
    background-image: url("images/2.png");
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
}
.background3{
    display: block;
    width: 100%;
    height: 200px;
    background-image: url("images/3.png");
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
}
.background4{
    display: block;
    width: 100%;
    height: 200px;
    background-image: url("images/4.jpeg");
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
}
.background5{
    width: 100%;
    display: block;
    height: 200px;
    background-image: url("images/5.jpeg");
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
}
.background6{
    width: 100%;
    display: block;
    height: 200px;
    background-image: url("images/6.png");
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
}
.i1{
    box-shadow: 0px 1px 5px 0px #d4d4d5, 0 0 1px 1px #d4d4d5;
    border: none;
    border-radius: 5px;
    padding-bottom:2px;
    margin-bottom: 20px;
    width: 350px;
    height: 300px;
    text-decoration: none;
    color: black;
}
a.i1:hover{
    position: relative;
    top:-7px;
    z-index: -1;
}


#heading{
    font-family: 'Lato', sans-serif;
    border-top: 1px solid rgba(34,36,38,.1);
    background: 0 0;
    margin: 0;
    box-shadow: none;
    font-size: 1em;
    border-radius: 0;
    padding:10px;
    padding-bottom: 5px;
}

.extra{
    flex-grow: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-top: 1px solid rgba(0,0,0,.05)!important;
    position: static;
    background: 0 0;
    width: auto;
    margin: 0 0;
    padding: .75em 1em;
    top: 0;
    left: 0;
    color: rgba(0,0,0,.4);
    box-shadow: none;
}

#h{
    padding-bottom: 24px;
}

@media (max-width: 900px){
    .homeAbout{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start
    }
    .about{
        padding-left: 20px;
        margin-right: 0px;
    }
    .contact{
        padding-left: 20px;
        margin-left: 0px;
    }
    .footer{
        padding-left: 20px;
    }
    .heading1{
        margin-top: 50px;
        margin-bottom: 0px;
        font-size: 3.5em;
    }
    
    .para{
        padding-right: 0px;
        font-size: 20px;
        width: 100%;
    }
    .img2{
        margin-left: 0px;
        padding-left: 40px;
        padding-right: 40px;
    }
}
@media (max-width: 600px) {
    .box1{
        flex-shrink: 1;
    }
    .box2{
        flex-shrink: 3;
    }
    .nav2 {
        flex-direction: row;

    }
    .hBlog2{
        overflow: hidden;
    }
    .heading1{
        margin-top: 50px;
        margin-bottom: 0px;
        font-size: 3.5em;
    }
    
    #head2{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .para{
        padding-right: 0px;
        font-size: 17px;
        width: 100%;
    }
    .img2{
        margin-left: 0px;
        padding-left: 0px;
    }
    .itemList1{
        width: 100%;
    }
    .itemList2{
        width: 100%;
    }
    .nav{
        visibility: hidden;
    }
    .dropdown {
      visibility: visible;
      position: relative;
      display: inline-block;
      justify-content: flex-end;
      margin: 0px;
      padding-right: 30px;
    }
    .dropbtn {
        color: black;
        font-size: 16px;
        background-color: transparent;
        padding-top: 8px;
        padding-right: 35px;
        border: none;
        cursor: pointer;
        margin: 0px;
      }
      .dropdown-content {
        background-color: white;
        display: none;
        width: 0%;
        max-width: 125px;
        height: 100vh;
        position: absolute;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin: 0px;
        transition: width 2s;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .show {display: block;}
      
      .menu{
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
      }
      #navigation{
          background-image: none;
          background-color: #293b52;
      }

}





